.contenedor {
  display: flex;
  justify-content: space-evenly;
  width: 500px;
}

button {
  background-color: #FE2E64;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: white;
}

p {
  color: #FE2E64;
  font-weight: bold;
}
