.contenedor {
  display: flex;
  justify-content: space-evenly;
  width: 500px;
}

button {
  background-color: #FE2E64;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: white;
}

p {
  color: black;
}

body {
  background-color: white;
}

h1 {
  border: 0;
  text-align: left;
  font-family: "Sans Serif Fonts";
  font-weight: bold;
  font-size: 30px;
  color: #FE2E64;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;

}

h3 {
  font-family: "Sans Serif Fonts";
  font-weight: bold;
  color: #FE2E64;
}
