body {
  background-image: url("https://img.pixers.pics/pho_wat(s3:700/FO/16/40/51/06/4/700_FO164051064_4b320c7a02e5e63458fdb8660d13e310.jpg,700,700,cms:2018/10/5bd1b6b8d04b8_220x50-watermark.png,over,480,650,jpg)/fotomurales-fondo-transparente-en-el-patron-geometrico-de-colores-azules-ilustracion-vectorial-papel-tapiz-impresion-de-envases-textiles.jpg.jpg")
}

nav {
  background-color: #0E385E;
  height: 60px;
  width: 83.50%;
}

img{
  margin: 10px;
}

main {
  width: 80%;
  padding: 25px;
  background-color: #B1CFEA;
}

button{
  width: 100px;
  height: 100px;
  background-color: #7796CB;
  cursor: pointer;
  border: 1px lightblue solid;
}

button:hover {
  background-color: #005CF9;
}

section{
  background-color: #0E385E;
  letter-spacing: 8px;
  color: white;

}

.grantittle{
  font-size: 50px;
  color: white;
  letter-spacing: 2px;
}
